/* GLOBAL */
html,
body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.contain-pad {
  padding-left: 45px;
  padding-right: 45px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  max-width: 1440px;
  overflow: hidden;
}

.container-background {
  position: absolute;
  top: 121px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.7);
  z-index: 99;
}
/* ------------------------------------------ */

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  z-index: 99;
  background-color: #fff;
}

.header__top {
  background-color: #f3f3f3;
  font-size: 12px;
  color: #102b4e;
  font-weight: 600;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top a {
  color: #102b4e;
}

.header__topLeft .mustang-img,
.header__topLeft .bronco-img {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
}

.header__topLeft .mustang-img {
  background-image: url(../img/mustang-icon.svg);
}

.header__topLeft .bronco-img {
  background-image: url(../img/bronco-icon.svg);
}

.header__topLeft a {
  display: inline-block;
}

.header__topLeft a > span:nth-of-type(2),
.header__topLeft a:last-of-type {
  display: inline-block;
  transform: translateY(-9px);
}

.header__topLeft a:nth-of-type(2),
.header__topLeft a:last-of-type {
  border-left: 1px solid #d6d5d5;
  padding: 0 8px;
}

.header__topLeft a:nth-of-type(2) {
  height: 30px;
  padding-left: 15px;
}

a.header__topRight span {
  display: inline-block;
  color: #2861a4;
  transform: translateY(-3px);
}

a.header__topRight i {
  color: #102b4e;
  font-size: 20px;
  padding-right: 5px;
}

.header__top a:hover,
a.header__topRight:hover i {
  color: #2861a4;
  text-decoration: none;
}

.header__top a:hover .mustang-img {
  background-image: url(../img/mustang-icon-hover.svg);
}

.header__top a:hover .bronco-img {
  background-image: url(../img/bronco-icon-hover.svg);
}
/* ------------------------------------------ */

/* NAVBAR */
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 8px 4px -4px rgb(0 0 0 / 20%);
}

.navbar-brand {
  display: inline-block;
  background-image: url(../img/bsr-sprite2x.webp);
  background-repeat: no-repeat;
  background-position: -200px 0;
  background-size: 400px 200px;
  width: 93px;
  height: 35px;
}

.nav-link.dropdown-toggle::after {
  display: none;
}

.navbar-nav {
  align-items: center;
}

.navbar-light .navbar-nav a.nav-link {
  font-size: 14px;
  color: #0276b3;
  font-weight: 600;
  letter-spacing: 0.5;
  margin: 0 5px;
}

.nav-link img {
  display: inline-block;
  width: 23px;
  height: 23px;
  transform: translateY(-1px);
}

.nav-item {
  position: static;
}

.nav__right .dropdown-menu {
  z-index: -1;
  top: 57px;
  right: 0;
  border: none;
  border-radius: 0;
}

.nav__right .dropdown-menu .input-group {
  padding: 10px;
}

.nav__right .dropdown-menu .input-group input {
  font-size: 14px;
  padding: 0 12px;
  border: 1px solid #6e6e6e;
  border-right: none;
}

.nav__right .dropdown-menu .input-group input:focus {
  box-shadow: none;
}

.nav__right .dropdown-menu .input-group input::placeholder {
  color: #0276b3;
}

.nav__right .dropdown-menu .input-group button {
  font-size: 14px;
  border-left: none;
  color: #0276b3;
}

.nav__right .dropdown-menu .input-group button:hover {
  background-color: transparent;
}

.nav__right .dropdown-item {
  color: #0276b3;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.nav__right .dropdown-item:hover {
  color: #102b4e;
  background-color: transparent;
}

.nav__right {
  position: relative;
}

.nav__right .nav-link {
  font-size: 12px !important;
}

.navbar-light .navbar-nav .nav-item:hover .nav-link {
  color: #102b4e;
}
/* ------------------------------------------ */

/* CAROUSEL */
#carousel__custom {
  margin-top: 121px;
}

#carousel__custom .carousel-caption {
  position: absolute;
  top: 5%;
  left: 45px;
  right: 10%;
  bottom: auto;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
}

.carousel-caption h5 {
  position: relative;
  font-size: 42px;
  margin-bottom: 25px;
}

.carousel-caption h5 sup {
  font-size: 0.52em;
  top: -1.1em;
}

.carousel-caption a {
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

.carousel-caption a .fa-angle-right {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-left: 10px;
  margin-bottom: 2px;
}

.carousel-caption a:hover {
  color: #102b4e;
  text-decoration: none;
}

.carousel-caption a:hover .fa-angle-right {
  border-color: #102b4e;
  background-color: #102b4e;
  color: #3c596d;
}

.carousel-caption__custom {
  bottom: 10% !important;
  right: 0 !important;
}

.carousel-caption__custom:hover a {
  color: #fff;
}

.carousel-caption__custom:hover a .fa-angle-right {
  background-color: #fff;
  color: #25393d;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 10;
  top: 50%;
  bottom: auto;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: rgba(51, 51, 51, 0.6);
  opacity: 1;
}

#carousel__custom .carousel-control-prev-icon,
#carousel__custom .carousel-control-next-icon {
  background-image: none;
  font-size: 2.2rem;
  padding-top: 2%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #fff;
  color: #0276b3;
  border: 1px solid #0276b3;
}

.carousel-control-prev:hover {
  border-left: none;
}

.carousel-control-next:hover {
  border-right: none;
}

#carousel__custom .carousel-indicators {
  background-color: rgba(0, 0, 0, 0.9);
  width: 60px;
  height: 25px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  border-radius: 20px;
  margin-left: 0;
  margin-right: 0;
}

.carousel-indicators li {
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.5s;
  opacity: 1;
  background-clip: border-box;
}

.carousel-indicators li:hover {
  transform: scale(1.5);
}

#carousel__custom .carousel-indicators li.active {
  transform: scale(1.5);
  background-color: transparent;
}
/* ------------------------------------------ */

/* VEHICLES */
.vehicles,
.message {
  text-align: center;
}

.vehicles h3,
.message h3 {
  font-size: 42px;
}

.vehicles a {
  display: block;
  width: 200px;
  background-color: #0276b3;
  border: 1px solid #0276b3;
  color: #fff;
  position: relative;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 0;
}

.vehicles a:hover {
  background-color: #fff;
  color: #0276b3;
  text-decoration: none;
}

.vehicles img {
  display: block;
  width: 100%;
  margin-top: 30px;
}
/* ------------------------------------------ */

/* MESSAGE */
.message div {
  position: relative;
}

.message p {
  max-width: 740px;
  margin: 15px auto;
}

.message #message__video {
  max-width: 80%;
  margin-top: 15px;
}

.message #play-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(51, 51, 51, 0.95);
  color: #fff;
  font-size: 26px;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.message #message__video:hover + #play-video,
.message #play-video:hover {
  background-color: rgba(2, 117, 179, 0.95);
}
/* ------------------------------------------ */

/* GALLERY */
/* .fg{
    position: relative;
} */
.zoom {
  overflow: hidden;
}
.fg .item img {
  max-width: 100%;
  transition: transform 0.5s ease;
}
.fg .item img:hover {
  transform: scale(1.2);
}

.fg .item1 {
  background-image: url(/img/deal.jpeg);
  background-size: cover;
  background-position: center center;
  height: 200px;
}
.fg .item1_img img {
  width: 100%;
  display: inline;
  margin: auto;
}
.fg .item1_text {
  text-align: center;
  padding: 50px;
  color: white;
}
.fg .item1_text h4 {
  font-weight: 300;
  font-size: 30px;
}
.fg .item1_text a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 200;
}
.icon {
  border: 1.5px solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}
.fg .item2 {
  position: relative;
}
.fg .item2_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 35%;
}
.fg .item2_text h4 {
  font-size: 25px;
}
.fg .item2_text p {
  font-size: 18px;
  color: #626466;
}
.fg .item3 img {
  width: 100%;
  position: relative;
}
.fg_float_text {
  background: #045fa8;
  opacity: 0.9;
  width: 100%;
  margin-bottom: 0;
}
.fg .item3_text {
  position: absolute;
  width: 100%;
  bottom: -5%;
}
.fg .item3_text p {
  color: white;
  padding: 15px 10px 15px 30px;
}
.fg .item_text p {
  color: white;
  padding: 15px 10px 15px 30px;
}
.fg .item_text4 p {
  padding: 45px 20px;
  color: white;
}
.fg_float_text4 {
  background: #045fa8;
  opacity: 0.8;
  width: 100%;
  margin-bottom: 0;
}

/* END GALLERY */

/* INFO */
.info__recall {
  padding: 40px;
  text-align: center;
}
.info__recall h2 {
  color: rgb(217, 46, 20);
  text-align: center;
  letter-spacing: 5px;
}
.info__recall button {
  margin: 40px 0;
  padding: 10px 80px;
  background-color: rgb(217, 46, 20);
}
.info__recall button:hover {
  border-color: rgb(217, 46, 20);
  background-color: white;
  color: rgb(217, 46, 20);
}
.info_disclosure {
  padding: 40px 10px;
}
.disclosure-text {
  overflow-y: scroll;
  max-height: 240px;
  font-weight: 300;
  font-size: 14px;
  transition: all 0.2s ease;
}
.info_disclosure button {
  width: 100%;
  text-align: center;
  color: #337ab7;
  /* border:1px solid #337ab7; */
  padding: 10px 0;
  border-color: transparent;
  background-color: white;
}
.info_disclosure button:hover .fa-angle-down {
  transform: rotate(-180deg);
  transition: all 0.2s ease;
}
.info_cali {
  padding: 40px 0;
  background-color: #092a46;
  text-align: center;
  color: white;
}
.info_cali p {
  font-size: 16px;
  font-weight: 200;
}
.info_cali button {
  padding: 10px 40px;
  background-color: #337ab7;
  border-color: transparent;
  color: white;
  font-weight: 300;
}
.info_cali button:hover {
  background-color: white;
  color: #092a46;
}
.info_short {
  background-color: #242424;
  padding: 40px 0;
}
.info_short form input[type="search"] {
  display: inline-block;
  height: inherit;
  border: 0 none;
  background: transparent none;
  color: #fff;
  font-size: 24px;
  position: relative;
}
.info_short i {
  color: white;
  font-size: 24px;
  position: absolute;
  margin: 8px 20px;
}
.search_list ul {
  float: right;
  margin: -30px 50px;
}
.search_list li {
  display: inline;
  padding: 10px;
}
.search_list a {
  text-decoration: none;
  color: #a7a7a7;
}
.search_list a:hover {
  color: white;
}
.info_link {
  background-color: #242424;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 40px;
}
.info_link h3 {
  color: white;
  font-size: 18px;
  font-weight: 300;
}
.info_link a {
  color: #a7a7a7;
  text-decoration: none;
  font-weight: 300;
}
.info_link a:hover {
  color: #fff;
}
.get_update {
  background-color: #092a46;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 40px;
}
.get_update1 {
  display: flex;
  color: #2096cd;
  padding: 20px;
}
.get_update1_item {
  padding: 20px;
  font-size: 20px;
  margin: 50px 10px;
}
.get_update2 {
  display: inline;
  text-align: center;
  color: white;
  margin: 50px 10px;
}
.get_update2 p {
  margin: 10px 40px 10px 0px;
}
.fa-facebook-square {
  color: #3c5b99;
}
.fa-twitter-square {
  color: #0276b3;
}
.fa-youtube {
  color: red;
}
.fa-instagram {
  color: orchid;
}

.get_update2 .fab {
  font-size: 30px;
}

/* END INFO */
/* FOOTER */
.sitemap li {
  display: inline;
}
.change__lang {
  margin: 20px 0;
  padding: 20px 40px;
}
.change__lang p {
  margin: 0 50px;
  color: #337ab7;
}
.change__lang img {
  width: 5%;
  float: right;
}
.change__lang i {
  font-size: 20px;
  color: #337ab7;
}
.sitemap p {
  color: #092a46;
  font-weight: 300;
  margin: 0 50px;
}
.sitemap a {
  text-decoration: none;
  color: #092a46;
  font-weight: 300;
  font-size: 14px;
  padding: 10px;
}
.sitemap a:hover {
  color: #242424;
}
.sitemap ul {
  padding: 40px;
}
/* END FOOTER */

/* RESPNSIVE */
@media screen and (min-width: 1440px) {
  header {
    left: 70px;
    right: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .nav__right li.nav-item:first-child span {
    display: none;
  }
}

@media screen and (max-width: 991.98px) {
  .navbar-nav {
    display: block;
  }

  .nav__right li.nav-item:first-child span {
    display: inline-block;
  }
}

@media screen and (max-width: 767.98px) {
  .contain-pad {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__top {
    display: none;
  }

  #carousel__custom {
    margin-top: 80px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }

  .carousel-caption {
    text-align: center !important;
  }

  .carousel-caption h5 {
    font-size: 30px;
  }

  .carousel-item img {
    height: 500px;
    object-fit: cover;
  }

  .vehicles img {
    height: 300px;
    object-fit: cover;
  }
}
/* ------------------------------------------ */
